
.navbar-current {
  background-color: #212529;
  border-radius: 5pt;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}

footer {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}
