{% extends "layout.html" %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content %}

<div class="card my-4">
    <h5 class="card-header bg-dark text-white">Your Statistics</h5>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <td>AccountID:</td>
                <td>{{ results['accountID'] }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ results['username'] }}</td>
            </tr>
            <tr>
                <td>Register Date</td>
                <td>{{ results['reg_date'] }}</td>
            </tr>
            <tr>
                <td>Last Login</td>
                <td>{{ results['last_log'] }}</td>
            </tr>
            <tr>
                <td>Money:</td>
                <td>${{ results['money'] }}</td>
            </tr>
            <tr>
                <td>Kills:</td>
                <td>{{ results['kills'] }}</td>
            </tr>
            <tr>
                <td>Deaths:</td>
                <td>{{ results['deaths'] }}</td>
            </tr>
            <tr>
                <td>Job:</td>
                <td>{{ jobName }}</td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}