{% extends "layout.html" %}

{% block title %}
<title>Project Open - Dashboard</title>
{% endblock %}

{% block content %}

<div class="card my-4">
    <h5 class="card-header bg-dark text-white">Your Statistics</h5>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <td>AccountID:</td>
                <td>{{ account.accountID }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ account.username }}</td>
            </tr>
            <tr>
                <td>Register Date</td>
                <td>{{ account.reg_date}}</td>
            </tr>
            <tr>
                <td>Last Login</td>
                <td>{{ account.last_log }}</td>
            </tr>
            <tr>
                <td>Money:</td>
                <td>${{ account.money }}</td>
            </tr>
            <tr>
                <td>Kills:</td>
                <td>{{ account.kills }}</td>
            </tr>
            <tr>
                <td>Deaths:</td>
                <td>{{ account.deaths }}</td>
            </tr>
            <tr>
                <td>Job:</td>
                <td>{{ getJobName(account.jobID) }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header bg-dark text-white">Skills</h5>
    <div class="card-body">
        <table class="table table-striped">
            {% for skills in skill %}
            <tr>
                <td>{{ getSkillName(skills.skill_id) }}:</td>
                <td>{{ skills.value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="card my-4">
        <h5 class="card-header bg-dark text-white">Skills</h5>
        <div class="card-body">
            <table class="table text-center table-bordered">

                <thead>
                    {% for items in item %}
                        <th>{{ getItemName(items.item_id) }}</th>
                    {% endfor %}
                </thead>
                <tr>
                    {% for items in item %}
                        <td>{{ items.value }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}