{% extends "layout.html" %}

{% block title %}
<title>Project Open - Home</title>
{% endblock %}

{% block content %}
 <!-- Title -->
 <h1 class="mt-4">Project Open</h1>
 <!-- Author -->
 <p class="lead">
     Author: PatrickGTR
 </p>
 <hr>
 <!-- Date/Time -->
 <p>Posted on May 15, 2019 at 1:24 AM</p>
 <hr>
 <!-- Preview Image -->
 <img class="img-fluid rounded" src="https://github.com/openmultiplayer/homepage/blob/master/static/wordmark.png?raw=true" alt="">
 <hr>
 <!-- Post Content -->
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis arcu sodales, iaculis turpis vulputate, placerat diam. Proin sapien quam, commodo vel laoreet at, placerat gravida ex. Donec eu vehicula nibh. Cras finibus consequat tempus. Vestibulum ultricies leo non scelerisque condimentum. Fusce sit amet velit vestibulum, auctor purus a, tristique eros. Duis iaculis tellus elit, non aliquet diam dapibus id. In id lectus pharetra, tincidunt metus in, vulputate massa.</p>
 <p>Fusce sodales, tellus id suscipit tincidunt, ipsum mauris faucibus nisl, non condimentum augue turpis et nisi. Integer tortor nunc, ullamcorper et erat porta, luctus tempor tortor. Integer maximus lobortis libero ut volutpat. Vivamus fringilla ex at risus varius blandit. Maecenas nisi ligula, vehicula vel massa sit amet, malesuada tempus augue. Etiam eu dapibus sapien, ac placerat nibh. Suspendisse eget tincidunt orci, vel tempus dui. Morbi ut cursus eros. Etiam faucibus, tortor vel auctor efficitur, nisi tellus pharetra lacus, eget fringilla urna nibh in sapien.</p>
 <p>Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas aliquet volutpat neque, quis convallis est luctus vel. Vestibulum facilisis tellus vitae lobortis semper. Donec at scelerisque lectus. Donec lacinia congue hendrerit. Nam in nisi elementum, placerat arcu non, faucibus elit. Aenean quis dictum lectus, iaculis imperdiet dui. Curabitur a tellus scelerisque, egestas nisi eu, laoreet lacus. Donec sit amet odio nunc. Fusce volutpat eget eros vitae tempus. Maecenas pellentesque eros a lacus semper finibus.</p>
{% endblock %}