{% extends "layout.html" %}

{% block title %}
<title>Project Open - Home</title>
{% endblock %}

{% block content %}
    <!-- Title -->

    {% if session.get('isAdmin')%}
        <a href="{{ url_for('posts.news_write') }}" class="btn btn-success btn-sm" role="button">Write Post</a>
    {% endif %}
    {% for n in news %}
     
        <h1 class="mt-4">{{ n.post_title }}</h1>
        <!-- Author -->
        <p class="lead">
            Author: {{ retrieveNameFromID(n.author_id) }}
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Posted on {{ n.post_date }}</p>
        <hr>
        {{ n.post_content | safe }}
        
        {% if session.get('isAdmin') %}
            <a href="{{ url_for('posts.write_delete', postid=n.post_id) }}" class="btn btn-primary btn-sm" role="button">Dete Post</a>
            <a href="{{ url_for('posts.news_edit', postid=n.post_id) }}" class="btn btn-secondary btn-sm" role="button">Edit Post</a>
        {% endif %}
        <hr>
    {% endfor %}
   
    
    {{ pagination.info }}
    {{ pagination.links }}
   
{% endblock %}