<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>


    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
{% include "includes/navbar.html" %}
<div class="p-4">
    {% include "includes/messages.html" %}
</div>

<!-- Page Content start -->
<div class="container">
    <div class="row">
        <!-- Post Content Column start-->
        <div class="col-lg-8">
           {% block content %}

           {% endblock %}
        </div>
        <!-- Post Content Column end-->
        <!-- Sidebar start -->
        <div class="col-md-4">
            <!-- Account Authentication start -->
            {% include "includes/sidebar-account_form.html" %}
            <!-- Account Authentication end -->
            <!-- Social Media -->
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Social Media</h5>
                <div class="card-body text-center">
                    <a style="padding:2px" class="fab fa-facebook-square fa-3x text-dark"></a>
                    <a style="padding:2px" class="fab fa-twitter-square fa-3x text-dark"></a>
                    <a style="padding:2px" class="fab fa-steam-square fa-3x text-dark"></a>
                </div>
            </div>
            <!-- Social Media End -->
            <!-- Server Information -->
            {% include "includes/sidebar-admins.html" %}
            <!-- Server Information End -->
        </div>
        <!-- Sidebar end -->
    </div>
</div>
<!-- Page Content start -->

  <!-- Footer -->
<footer class="py-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Project Open 2019</p>
    </div>
</footer>

<script>
    // Timer Notification Message, fade out in 2.5 seconds after shown.
    $('.alert').delay(2500).fadeOut(300);
    // Summer Note
    $(document).ready(function() {
        $('#summernote').summernote();
    });
    // Navigation Bar Trick
    $(document).ready(function () {
        $("#{{request.endpoint}}").addClass("navbar-current active"); })
</script>
    
</body>
</html>
 